


<div class="myContainer">
    <nav class="center z-depth-0">
        <nav class="nav-wrapper white z-depth-0">
            <div class="container">
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="myBlack" href="#">Home</a></li>
                    <li><a class="myBlack" href="#">About</a></li>
                    <li><a class="myBlack" href="#">Login</a></li>
                </ul>
            </div><!-- /.container -->
        
        </nav><!-- /.nav-wrapper -->
        <ul id="slide-out" class="sidenav">
                <li><a href="#">Login</a></li>
                <li><a href="#">Signup</a></li>
                <li><a href="#">About</a></li>
        </ul>
    </nav>

    <div class="fixed-action-btn mobile">
        <a class="freeTrialBtn waves-effect waves-light btn" href="/home">START FREE TRIAL</a>
    </div>

    <div class="topSection">
        <div class="ctaContainer">
            <h2 class="tagLine">Your shared season house <br>Organized like your mum would</h2>
            <div class="trialBtnContainer">
                <a class="freeTrialBtn waves-effect waves-light btn desktop" href="/home">START FREE TRIAL</a>
                <div>
                    <div class="noCc">
                        <img src="assets/svgs/noCcDarkGrey.svg" 
                        alt="mtn2"/>
                        <p class="smallText myDarkGrey">No credit card required</p>
                    </div>
                </div>
            </div>
        </div><!-- /.ctaContainer -->
        
        <img class="desktop" src="assets/svgs/seasonHouseIconLightBlueLarge.svg" 
        alt="mtn2"/>
        <img class="mobile" src="assets/svgs/seasonHouseIconLightBlueMobile.svg" 
        alt="mtn2"/>

    </div><!-- /.topSection -->

    <img class="greenVector desktop" src="assets/svgs/backgroundSvgs/greenVector.svg" 
    alt="greenVectorDesk"/>

    <img class="greenVector mobile" src="assets/svgs/backgroundSvgs/greenVectorMobile.svg" 
    alt="greenVectorMob"/>

<div class="middleSection">
    <div class="featureContainer">
        <img src="assets/svgs/membersIcon.svg" 
        alt="mtn2"/>
        <h3>House member profiles</h3>
        <h5>Keep contact details and other info on all members in one place</h5>
    </div><!-- /.featureContainer -->

    <div class="featureContainer">
            <img src="assets/svgs/calendarIcon.svg" 
            alt="mtn2"/>
            <h3>House calendar</h3>
            <h5>Keep track of who will be at the house when</h5>
    </div><!-- /.featureContainer -->

    <div class="featureContainer">
            <img src="assets/svgs/messagingIcon.svg" 
            alt="mtn2"/>
            <h3>Messaging channels</h3>
            <h5>Chat-like messaging for shared and private messages</h5>
    </div><!-- /.featureContainer -->

    <div class="featureContainer">
            <img src="assets/svgs/choresIcon.svg" 
            alt="mtn2"/>
            <h3>House chores</h3>
            <h5>Set up and allocate house chores and track that they get done</h5>
    </div><!-- /.featureContainer -->

    <div class="featureContainer">
            <img src="assets/svgs/expenseSharingIcon.svg" 
            alt="mtn2"/>
            <h3>Expense sharing</h3>
            <h5>Easily split the bill for house related expenses</h5>
    </div><!-- /.featureContainer -->

    <div class="featureContainer">
        <img src="assets/svgs/commutePlanningIcon.svg" 
        alt="mtn2"/>
            <h3>Commute planning</h3>
            <h5>Plan your drive with access to all relevant info; weather, road conditions traffic etc.</h5>
    </div><!-- /.featureContainer -->

</div><!-- /.middleSection -->

    <img class="greyVector desktop" src="assets/svgs/backgroundSvgs/greyVector.svg" 
        alt="greyVectorDesktop"/>

    <!-- <img class="greyVector mobile" src="assets/svgs/backgroundSvgs/greyVectorMobile.svg" 
        alt="greyVectorMobile"/> -->

    <img class="darkBlueVector desktop" src="assets/svgs/backgroundSvgs/darkBlueVector.svg" 
    alt="darkBlueVectorDesktop"/>

    <!-- <img class="darkBlueVector mobile" src="assets/svgs/backgroundSvgs/darkBlueVectorMobile.svg" 
    alt="darkBlueVectorMobile"/> -->

    <div class="bottomSection">
        <div class="trialBtnContainer bottomElement desktop">
            <h3 class="myWhite" >Try it now - for free!</h3>
            <a class="freeTrialBtn waves-effect waves-light btn" href="/home">START FREE TRIAL</a>
            <div>
                <div class="noCc">
                    <img src="assets/svgs/noCcWhite.svg" 
                    alt="mtn2"/>
                    <p class="smallText myWhite">No credit card required</p>
                </div>
            </div>
        </div>

        <div class="uspOuterContainer">
            <div class="uspContainer">
                <img src="assets/svgs/unlimitedAccess.svg" 
                alt="mtn2"/>
                <h4 class="myWhite" >Unlimited access to all features for 30 days</h4>
            </div><!-- /.uspContainer -->

            <div class="uspContainer">
                <img src="assets/svgs/freeTrialIcon.svg" 
                alt="mtn2"/>
                <h4 class="myWhite">Free trial. Zero obligations</h4>
            </div><!-- /.uspContainer -->

            <div class="uspContainer">
                <img src="assets/svgs/prizes.svg" 
                alt="mtn2"/>
                <h4 class="myWhite">Submit your feedback and win cool prizes</h4>
            </div><!-- /.uspContainer -->
        </div><!-- /.uspOuterContainer -->
    </div><!-- /.bottomSection -->


</div><!-- /.myContainer -->

<script>

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, options);


});
    $(document).ready(function(){
        $('.sidenav').sidenav();
        $('freeTrialBtn').click(function() {
        alert("button clickked");
        console.log("button clickked");
        }); 
    });
</script>


