
<nav>
    <nav class="nav-wrapper">
        <div class="container">
            <a href="assets/images/Mountain_icon_blue.png" class="brand-logo"></a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Login</a></li>
                <li><a href="#">Signup</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div><!-- /.container -->
    
    </nav><!-- /.nav-wrapper -->
    <ul id="slide-out" class="sidenav">
            <li><a href="#">Login</a></li>
            <li><a href="#">Signup</a></li>
            <li><a href="#">About</a></li>
    </ul>
</nav>


<h1 class="lightblue black-bg">Test</h1>


<div>
    <img src="assets/svgs/calendarIcon.svg" 
    alt="mtn2"/>
</div>




<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>


