<h1>5 Day Weather Forecast</h1>
<table>
  <tbody>
    <tr>
      <td *ngFor="let data of info.data">{{data.valid_date | date: 'EEEE, MMMM d, y'}}</td>
    </tr>
    <tr>
      <td  *ngFor="let data of info.data">Daily Low: {{data.min_temp}}°F</td>
    </tr>
    <tr>
      <td  *ngFor="let data of info.data">Daily High: {{data.max_temp}}°F</td>
    </tr>
    <tr>
      <td *ngFor="let data of info.data">{{data.weather.description}}</td>
    </tr>
    <tr>
      <td *ngFor="let data of info.data"><img src="../../assets/images/{{data.weather.icon}}.png"/></td>
    </tr>
  </tbody>
</table>

<!-- <app-week></app-week>
<app-month></app-month> -->