<div class="chores myContainer">
    <h1>House Chores</h1>
    <div class="border">
        <h2 class="myDarkGrey .myLightGreyBg">Tasks</h2>
        <div class="list" *ngFor="let chore of chores">
            <div class="names">
                <h4>{{chore.choreName}}</h4>
                <p>{{chore.frequency}} • {{chore.time}} minutes</p>
            </div>
            <div class="innerFlex">
                <img (click)="completeTask(chore._id)" src="../../assets/images/Rectangle 2.svg">
                <a [routerLink]="['/']"><img src="../../assets/images/Rectangle 2.3.svg"/></a>
                </div>
        </div>
    </div>
    <div class="footer">
        <a class="btn-floating btn-large waves-effect waves-light myDarkBlueBg" [routerLink]="['/']"><i class="material-icons">add</i></a>
    </div>
</div>
