.about{
    border-radius: 30px;
    padding: 2%;
    background: #F7F7FA;
}
.about h3{
    border-radius: 30px;
    padding: 2%;
    color: white;
    text-align: center;
}
.list div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 4%;
}
a{
    text-transform: lowercase;
    border-radius: 15px;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}
table th{
    font-weight: bold;
    font-size: x-large;
    min-width: 150px;
}
table td{
    font-weight: lighter;
    font-size: smaller;
    margin-left: 20px;
}
tr{
    margin-top: 4%;
    line-height: 4;
}

