<div class="myContainer">
<div class="about">
    <h3 class="myLightGreenBg">About</h3>
    <div class="list">
    <table>
        <tbody>
          <tr>
            <th>Technologies</th>
            <td>    <p>Open Weather Map API</p>
                    <p>Geocod.io</p>
                    <p>WeatherBit.io</p>
                    <p>FullCalendar.io</p>
                    <p>Sockets</p>
                    <p>File Input Type</p>
                    <p>Phone Local Host</p>
                    <p>Responsive Development/Mobile First</p>
                    <p>Floating Buttons/Materialize</p></td>
          </tr>
          <tr>
            <th>Next Steps</th>
            <td>    <p>Feed in Images</p>
                    <p>PWA</p>
                    <p>Login/Registration</p>
                    <p>House Creation/Editing</p>
                    <p>Navigation</p>
          </tr>

        </tbody>
      </table>
            <!-- <div>
                <h4>Technologies</h4>
                <ul>
                    <li>Open Weather Map API</li>
                    <li>Geocod.io</li>
                    <li>WeatherBit.io</li>
                    <li>FullCalendar.io</li>
                    <li>Sockets</li>
                    <li>File Input Type</li>
                    <li>Phone Local Host</li>
                    <li>Responsive Development/Mobile First</li>
                    <li>Floating Buttons/Materialize</li>
                </ul>
            </div>
            <div>
                <h4>Next Steps</h4>
                <ul>
                    <li>Feed in Images</li>
                    <li>PWA</li>
                    <li>Login/Registration</li>
                    <li>House Creation/Editing</li>
                    <li>Navigation</li>
                </ul>
            </div> -->
        </div>
            <div class="footer">
                <a class="waves-effect waves-light btn-small myDarkBlueBg" [routerLink]="['/dashboard/5dd83e845ff86e4290671d11']">My Dashboard</a>
</div>
</div>
</div>
